:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.sudy {
  background-color: #bebebe;
}
table, th, td {
  border: 1px solid black;
  padding: 5px;
}

.error {
  font-size: 3em;
  color: red;
}